@model AcunMedyaFestavaLive.Entities.Ticket

@{
    ViewData["Title"] = "TicketList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Bilet Ekle</div>
                        </div>
                        <div class="card-body">
                            <div class="card-sub">
                                Bilet eklemeile ilgili işlemleri buradan yapabilirsiniz.
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="card shadow-sm" style="border-radius: 15px; background-color: #ffffff;">
                                        <div class="card-header bg-purple text-white" style="border-top-left-radius: 15px; border-top-right-radius: 15px; background-color: #6a1b9a;">
                                            <h5 class="mb-0">Yeni Bilet Girişi</h5>
                                        </div>
                                        <div class="card-body">
                                            <form method="post">
                                                <div class="form-row">
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="Title" class="form-label">Bilet Başlığı</label>
                                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @id = "Title", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="Description" class="form-label">Bilet Açıklaması</label>
                                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @id = "Description", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="Price" class="form-label">Bilet Fiyatı</label>
                                                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "Price", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="TicketProperty1" class="form-label">Nitelik 1</label>
                                                        @Html.TextBoxFor(x => x.TicketProperty1, new { @class = "form-control", @id = "TicketProperty1", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="TicketProperty2" class="form-label">Nitelik 2</label>
                                                        @Html.TextBoxFor(x => x.TicketProperty2, new { @class = "form-control", @id = "TicketProperty2", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="TicketProperty3" class="form-label">Nitelik 3</label>
                                                        @Html.TextBoxFor(x => x.TicketProperty3, new { @class = "form-control", @id = "TicketProperty3", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="TicketProperty4" class="form-label">Nitelik 4</label>
                                                        @Html.TextBoxFor(x => x.TicketProperty4, new { @class = "form-control", @id = "TicketProperty4", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="TicketProperty5" class="form-label">Nitelik 5</label>
                                                        @Html.TextBoxFor(x => x.TicketProperty5, new { @class = "form-control", @id = "TicketProperty5", @style = "border-radius: 10px;" })
                                                    </div>
                                                    <div class="form-group col-md-3 mb-1">
                                                        <label for="TicketProperty6" class="form-label">Nitelik 6</label>
                                                        @Html.TextBoxFor(x => x.TicketProperty6, new { @class = "form-control", @id = "TicketProperty6", @style = "border-radius: 10px;" })
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-purple btn-block mt-3" style="border-radius: 10px; background-color: #6a1b9a; color: white;">Bileti Oluştur</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer mt-5">
                        <div class="container-fluid">
                            <nav class="pull-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="http://www.themekita.com">
                                            ThemeKita
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            Help
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://themewagon.com/license/#free-item">
                                            Licenses
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="copyright ml-auto">
                                2018, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
                            </div>
                        </div>
                    </footer>
                </div>

                <style>
                    .bg-purple {
                        background-color: #6a1b9a;
                    }

                    .btn-purple {
                        background-color: #6a1b9a;
                        color: white;
                    }

                    .form-control {
                        margin-bottom: 5px;
                    }

                    .form-label {
                        font-weight: bold;
                        color: #6a1b9a;
                    }
                </style>
